/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;

  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

/* Task-2 form */
.feedback-form {
  width: 480px;
}

.feedback-form > label {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  padding: 8px;
}

.feedback-form textarea {
  resize: none;
}
